@font-face {
  font-family: "Alike";
  src: ("/assets/fonts/Alike.ttf") format("truetype");
}

body{
  background-color:#56b6ab14 ;
} 
.navbar-brand {
  font-family: "Alike", serif;
  font-size: 130%;
}

nav {
  font-family: "Alike", serif;
  font-size: 100%;
}

.logo {
  height: 400px;
}

.inicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  margin-top: 100px;
  padding: 0 3% 0 3%;
}
.intro {
  margin-top: 50px;
  padding: 0 10% 0 10%;
}
.responsive {
  max-width: 50%;
  height: auto;
}
.historical {
  min-width: 1000px;
}

.center-div {
  margin: auto;
  padding: 10px;
}

.graph-svg-component {
  background-color: white;
}
