
.logo {
  height: 400px;
}


.inicio {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.main {
  padding: 0 15% 0 15%;
}

.center-div
{
  margin: auto;
  padding: 10px;
}